# Ignore virtual environment
myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore SQLite database (if using locally)
db.sqlite3

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore media uploads (optional, if any)
media/
